* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  width: 80vw;
  margin: auto;
}

.positiveValues {
  color: green;
}

.negativeValues {
  color: red;
}

table {
  width: 100%;
  background-color: black;
  color: white;
  height: 100vh;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid white;
  text-align: center;
}